
    * {
        box-sizing: border-box;
    }
    html,
    body {
        margin: 20px;
        padding: 10px;
    }
    .grid-container {
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .boots {
        margin-top: 30px;
        font-size: 20px;
        margin-left: 25px;
    }

    .boots2 {
        font-size: 15px;
        margin-left: 25px;
        line-height: 20px;
        color: #666666;
    }

    .price{
        font-size: 35px;
        margin-left: 25px;
        margin-bottom: 30px;
    }
    
    .img {
        margin-top: 1px;
        width: 300px;
        height: 205px;
    }

    .icon {
        position: relative;
        width: 40px;
        height: 40px;
        top: 10px; left: 100px;
        padding: 5px;
    }

    .container {
        font-family: Roboto;
        width: 305px; /* Ширина блока */
        padding: 0px; /* Поля */
        margin-top: 10px; /* Отступ сверху */
        box-sizing: border-box; /* Ширина блока с полями */
        border: 2px solid #e2e2e2; /* Рамка вокруг таблицы */
            color: #333333;
            background-color: #FFFFFF;
    }

    .price1 {
        margin-bottom: 30px;
    }


   
   